/* RESET DE MARGENES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PRINCIPALES CONTENEDORES */
.App {
  width: 100%;
  height: 85rem;
  background-color: rgb(22, 20, 20);
  border: solid .2rem lawngreen;
}

.mainContainer {
  width: 95%;
  height: 62.5rem;
  margin: 2rem auto;
  box-sizing: border-box;
  border: solid 0.2rem white;
}

.contentHome,
.contentAboutme,
.contentPortfolio,
.contentSkills,
.contentContact {
  max-width: 100%;
  height: 59.5rem;
  margin: 1.5rem;
  box-sizing: border-box;
}

/* TIPOGRAFIA */
.contentHome,
.contentAboutme,
.contentPortfolio,
.contentSkills,
.contentContact,
.navMenu {
  font-family: "BeonRegular";
}

/* BARRA DE NAVEGACION */
nav {
  margin: auto;
  background-color: rgba(144, 143, 139, 0.267);
  padding: 1rem;
  text-align: center;
  display: flex;
  border-bottom: 0.2rem solid rgb(255, 199, 1);
  justify-content: space-between;

  border: solid .2rem green;
}

.navMenu {
  /* list-style: none; */
  display: flex;
  justify-content: center;

  border: solid .2rem palevioletred;
}

/* .navMenu li {
  display: inline-block;
  list-style: none;
  overflow: hidden;
} */

.navMenuLink {
  width: 9.5rem;
  height: 3rem;
  display: inline-block;
  margin: .5rem;
  border: 0.08rem solid white;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(12, 12, 12);
  color: white;
  transition: all 0.4s ease-in-out;
}

.navMenuLink:hover {
  text-decoration: none;
  border: 0.08rem solid rgba(248, 5, 5, 0.822);
  cursor: pointer;
}

.navMenuLink.active {
  font-size: 1rem;
  border: 0.2rem solid rgb(232, 248, 5);
  text-shadow: 0 0 1rem #fff, 0 0 5rem #fff, 0 0 5rem #fff, 0 0 10rem #e1e446,
    0 0 10rem #e1e446;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 230, 4);
  -webkit-text-stroke-width: 0.1rem;
}

/* LOGO DE LA NAV */
.App-logo-image {
  position: relative;
  left: -1rem;
  top: -1.5rem;
  width: 35%;
  height: 7rem;

  border: solid .2rem red;
}

/* BOTON HAMBURGUESA PARA MENU */
.btnMenuIco {
  background-color: rgba(144, 143, 139, 0.268);
  border: none;
  margin: 0 .3rem;
  /* display: none; */
}


.contentHome {
  border: solid 0.2rem rgb(214, 12, 12);
}

.contentAboutme {
  border: solid 0.2rem rgb(234, 250, 4);
}

.contentPortfolio {
  border: solid 0.2rem rgb(238, 3, 199);
}

.contentSkills {
  border: solid 0.2rem rgb(6, 245, 66);
}

.contentContact {
  border: solid 0.2rem rgb(248, 7, 128);
}

.contentAboutme h2,
.contentPortfolio h2,
.contentSkills h2,
.contentContact h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.contentPortfolio p,
.contentSkills p,
.contentContact p {
  text-align: justify;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.contentAboutme p {
  width: 62%;
  text-align: justify;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
  float: right;
}

.contentHome h2,
p {
  font-weight: normal;
  text-align: center;
  font-style: normal;
}

.contentHome h2 {
  font-size: 5.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e1e446;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 230, 4);
  -webkit-text-stroke-width: 0.1rem;
}

.contentHome p {
  font-size: 3.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e44646;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 4, 4);
  -webkit-text-stroke-width: 0.1rem;
}

.profilePicture {
  width: 35%;
  height: 30rem;
  position: relative;
  left: 1rem;
  float: left;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  /* .App {
    width: 100%;
    max-height: 100%;
  } */

  .mainContainer {
    width: 95%;
    /* max-height: 100%; */
  }

  .contentHome,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    max-width: 100%;
    /* max-height: 100%; */
  }

  nav {
    display: table;
  }

  .navMenu {
    /* display: block; */
    flex-direction: column;
  }

  .navMenuLink {
    /* display: block; */
    /* font-size: .7rem; */
    margin: .3rem 0;
    width: 100%;
    height: 3rem;
  }

  .navMenuLink.active {
    font-size: .7rem;
  }

  .App-logo-image {
    display: inline;
  }

  /* .btnMenuIco {
    display: inline-block;
  } */

  .profilePicture {
    display: block;
    width: 100%;
  }

  .contentAboutme h2,
  .contentPortfolio h2,
  .contentSkills h2,
  .contentContact h2 {
    font-size: 2rem;
  }

  .contentPortfolio p,
  .contentSkills p,
  .contentContact p {
    display: block;
    padding: .4rem;
    font-size: 1rem;
  }

  .contentAboutme p {
    width: 100%;
    display: block;
    padding: .4rem;
    font-size: 1rem;
  }

  .contentHome h2 {
    font-size: 2.5rem;
  }

  .contentHome p {
    font-size: 1.8rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .mainContainer {
    width: 95%;
  }

  .contentHome,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    max-width: 100%;
  }

  nav {
    width: 100%;
    height: 7rem;
  }

  .navMenu {
    width: 95%;
  }

  .navMenuLink {
    width: 6.5rem;
    height: 3.3rem;
    margin: .1rem;
  }

  .navMenu li {
    display: block;
    font-size: .9rem;
  }

  .navMenuLink.active {
    font-size: .9rem;
  }

  .App-logo-image {
    width: 100%;
    height: 7rem;
  }

  .profilePicture {
    width: 93%;
    height: 30rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    width: 100%;
    height: 100%;
  }

  .mainContainer {
    width: 95%;
  }

  .contentHome,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    max-width: 100%;
  }

  nav {
    width: 100%;
    height: 7rem;
  }

  .navMenu {
    width: 95%;
  }

  .navMenuLink {
    width: 9.5rem;
    height: 3rem;
    margin: .5rem;
    padding: 0.6rem;
  }

  .navMenu li {
    font-size: 1rem;
  }

  .App-logo-image {
    width: 100%;
    height: 7rem;
  }

  .profilePicture {
    width: 35%;
    height: 30rem;
  }
}

/* @media (max-width: 900px) {

} */