/* RESET DE MARGENES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Righteous', cursive, sans-serif; */
  /* font-family: 'Concert One', cursive; */
  /* font-family: 'Fredoka One', cursive, sans-serif; */
  /* font-family: 'Bangers', cursive; */
  /* font-family: 'Mitr', sans-serif; */
  /* font-family: 'Carter One', cursive; */
  /* font-family: 'Baloo', cursive; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Sniglet', cursive, sans-serif;
}

body {
  background-color: rgb(22, 20, 20);
  font-family: 'Montserrat', sans-serif;

  /* border: solid .2rem lawngreen; */
}

/* PRINCIPALES CONTENEDORES */
.App {
  width: auto;
  height: auto;
  margin-top: 9rem;
  border: solid .2rem lawngreen;
}

.mainContainer {
  width: 98%;
  height: auto;
  margin: 1rem auto .1rem;
  box-sizing: border-box;
  border: solid 0.2rem white;
}

.contentHome,
.contentAboutme,
.contentPortfolio,
.contentSkills,
.contentContact {
  max-width: 100%;
  height: auto;
  margin: .7rem .5rem;
  box-sizing: border-box;
}

/* BARRA DE NAVEGACION */
nav {
  /* width: 100%; */
  background-color: rgb(37, 37, 35);
  /* position: fixed; */
  /* width: 99.5%; */
  /* height: auto; */
  /* text-align: center; */
  /* display: flex; */
  /* border-bottom: 0.2rem solid rgb(255, 199, 1); */
  /* justify-content: space-between; */

  border: solid .2rem green;
}

.navMenu {
  display: flex;
  justify-content: center;

  border: solid .2rem palevioletred;
}

.navMenuLink {
  width: 7.5rem;
  height: 4rem;
  display: inline-block;
  margin: .5rem;
  border: 0.08rem solid white;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(12, 12, 12);
  color: white;
  transition: all 0.4s ease-in-out;
}

.navMenuLink:hover {
  text-decoration: none;
  border: 0.08rem solid rgba(248, 5, 5, 0.822);
  cursor: pointer;
}

.navMenuLink.active {
  font-size: 1rem;
  border: 0.2rem solid rgb(232, 248, 5);
  text-shadow: 0 0 1rem #fff, 0 0 5rem #fff, 0 0 5rem #fff, 0 0 10rem #e1e446,
    0 0 10rem #e1e446;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 230, 4);
  -webkit-text-stroke-width: 0.1rem;
}

.navMenuLink h6 {
  margin: .6rem;
  text-align: center;
}

/* LOGO DE LA NAV */
.App-logo-image {
  /* position: relative; */
  /* left: .3rem; */
  width: 100%;
  height: 6rem;

  border: solid .2rem red;
}

.contentHome {
  border: solid 0.2rem rgb(214, 12, 12);
}

.contentAboutme {
  border: solid 0.2rem rgb(234, 250, 4);
}

.contentPortfolio {
  border: solid 0.2rem rgb(238, 3, 199);
}

.contentSkills {
  border: solid 0.2rem rgb(6, 245, 66);
}

.contentContact {
  border: solid 0.2rem rgb(248, 7, 128);
}

.contentAboutme h2,
.contentPortfolio h2,
.contentSkills h2,
.contentContact h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
  margin: .5rem auto 1.5rem;
}

.contentSkills p,
.contentContact p {
  text-align: justify;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.contentAboutme p {
  width: 65%;
  text-align: justify;
  position: relative;
  right: 1rem;
  padding: .8rem;
  font-size: 1.3rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
  float: right;
}

.contentHome h2,
p {
  font-weight: normal;
  text-align: center;
  font-style: normal;
}

.contentHome h2 {
  font-size: 5.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 .1rem #fff, 0 0 1rem #f70a51;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 4, 36);
  -webkit-text-stroke-width: 0.1rem;
}

.contentHome p {
  font-family: 'Sniglet', cursive, sans-serif;
  font-size: 3.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 .1rem #fff, 0 0 .6rem #e44646;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 4, 4);
  -webkit-text-stroke-width: 0.1rem;
}

/* FOTO DE PERFIL */
.containerProfilePicture {
  width: 32%;
  height: auto;
  margin-left: .5rem;
  position: relative;
  float: left;
  padding: .5rem;

  border: solid .2rem chartreuse;
}

.profilePicture {
  width: 100%;
  height: auto;
}

/* HOBBIES */
.containerHobbies {
  width: 60%;
  text-align: center;
  position: relative;
  right: -2rem;
  display: inline-block;
  justify-content: space-around;
  margin-bottom: 13rem;

  border: solid .1rem mediumturquoise;
}

.containerHobbies label {
  font-size: 1rem;
  display: inline-block;
  margin: .5rem;
  margin-bottom: .3rem;
  -webkit-text-fill-color: #f4ecff;
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 .1rem #e1e446;
}

.hobbies {
  width: 4.5rem;
  margin: 1rem auto;
}

/* REDES SOCIALES */
.containerSocial {
  width: auto;
  height: auto;
  display: flex;
  padding: .5rem;
  justify-content: flex-end;
  /* position: relative;
  left: 14.5rem;
  bottom: .5rem; */

  border: solid .2rem blue;
}

.containerSocial p {
  width: 100%;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 1.3rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.containerSocial label {
  display: flex;
  margin: .5rem;
  margin-bottom: .3rem;
}

.containerSocial a {
  font-size: 1rem;
  margin: 0 .5rem;
  -webkit-text-fill-color: #f4ecff;
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e1e446;
  justify-content: flex-end;
}

.containerSocial img {
  margin: 0 .5rem;
  width: 4rem;

  border: solid greenyellow .1rem;
}

.containerSocial label {
  display: flex;
  margin: .5rem;
  margin-bottom: .3rem;
}

.containerSocial a {
  font-size: 1rem;
  margin: 0 .5rem;
  -webkit-text-fill-color: #f4ecff;
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e1e446;
  justify-content: flex-end;
}

.containerSocial img {
  margin: 0 .5rem;
  border-radius: .5rem;
}

.containerCardsTecSkills,
.containerCardsSoftSkills {
  width: 95.2%;
  display: inline-block;
  margin: auto 1.5rem;
  text-align: center;

  border: solid .2rem red;
}

.cardTecSkills,
.cardSoftSkills {
  display: inline-block;
  padding: .2rem;
  margin: auto .5em;
  width: 13rem;

  border: solid .1rem;
}

.list-group li {
  width: 100%;
  height: 5.5rem;
}

.list-group-item {
  text-align: start;
  display: inline-flex;
  padding: .5rem;
}

.list-group-flush .list-group-item {
  align-items: center;
}

.item {
  text-align: center;
  justify-content: center;
}

.skills {
  width: 3rem;
  margin: .7rem;
}

.contentPortfolio p {
  text-align: justify;
  margin: auto;
  padding: .8rem;
  font-size: 1rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.card-deck {
  margin: 1rem;
}

.card a {
  display: block;
}

.card-img-top {
  height: 15rem;
}

.card-body {
  background-color: black;
}

.card-title {
  color: yellow;
}

.formContact {
  padding: .5rem;
  border: solid .1rem white;
  width: 30rem;
  margin: .5rem auto;
}

.formContact p {
  text-align: center;
}

.contentContact a {
  margin: .5rem;
}

label {
  color: greenyellow;
}

.iconPdf {
  width: 3rem;
  margin: .5rem;
}

.btnSubmit {
  margin: auto 2rem;
}





/* MEDIA QUERIES */
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .App {
    margin-top: 7rem;
  }

  .mainContainer,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    width: auto;
    height: auto;
  }

  .mainContainer,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    height: auto;
  }

  .navbar-toggler {
    position: relative;
    right: 1.2rem;
    padding: .25rem .40rem;
  }

  .navbar-brand {
    width: 70%;
    margin: 0;
  }

  .App-logo-image {
    width: 100%;
    height: 5rem;
  }

  .navMenuLink {
    width: 100%;
    height: 2.5rem;
    margin: .2rem;
  }

  .navMenuLink h6 {
    margin: .4rem auto;
  }

  .contentHome h2 {
    font-size: 3rem;
    text-shadow: 0 0 0.1rem #fff, 0 0 1rem #fff, 0 0 1rem #e1e446;
    -webkit-text-stroke-color: rgb(247, 230, 4);
  }

  .contentHome p {
    font-size: 2.5rem;
    text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 .6rem #e44646;
    margin-bottom: 0;
  }

  .contentAboutme h2,
  .contentPortfolio h2,
  .contentSkills h2,
  .contentContact h2 {
    font-size: 2rem;
    padding: .3rem;
    margin: 0 auto;
  }

  .containerSocial img {
    width: 3rem;
  }

  .containerSocial p {
    margin-top: .5rem;
    font-size: 1rem;
  }

  .containerProfilePicture {
    width: 96%;
    padding: .5rem;
    position: relative;
    bottom: -53.5rem;
  }

  .contentAboutme p {
    width: 100%;
    position: relative;
    left: .06rem;
    top: -27rem;
    font-size: 1.2rem;
  }

  .containerHobbies {
    position: relative;
    left: .4rem;
    top: -29.5rem;
    padding: .5rem;
    margin: 1rem auto;
    width: 96%;
    display: inline-block;
  }

  .hobbies {
    margin: 1rem;
    width: 4rem;
  }

  .containerHobbies label {
    width: 7rem;
    font-size: 1.1rem;
  }

  .skills {
    width: 2.5rem;
    margin: 0.3rem;
  }

  .containerCardsTecSkills,
  .containerCardsSoftSkills {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: justify;
  }

  .cardTecSkills,
  .cardSoftSkills {
    width: 100%;
    margin: .1rem;
    display: inline-block;
  }

  .list-group-flush .list-group-item {
    padding: .2rem;
    height: 3.8rem;
  }

  .formContact {
    width: 17.5rem;
    margin: .5rem auto;
  }

  .btnSubmit {
    display: block;
    margin: 0 auto;
  }

  a {
    /* color: #007bff; */
    font-size: .9rem;
  }
}

/* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) and (min-width: 321px) {
  .App {
    margin-top: 7rem;
  }

  .mainContainer,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    width: auto;
    height: auto;
  }

  .mainContainer,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    height: auto;
  }

  .navbar-toggler {
    position: relative;
    right: 1.2rem;
    padding: .25rem .40rem;
  }

  .navbar-brand {
    width: 70%;
    margin: 0;
  }

  .App-logo-image {
    width: 100%;
    height: 5rem;
  }

  .navMenuLink {
    width: 100%;
    height: 2.5rem;
    margin: .2rem;
  }

  .navMenuLink h6 {
    margin: .4rem auto;
  }

  .contentHome h2 {
    font-size: 3rem;
    text-shadow: 0 0 0.1rem #fff, 0 0 1rem #fff, 0 0 1rem #e1e446;
    -webkit-text-stroke-color: rgb(247, 230, 4);
  }

  .contentHome p {
    font-size: 2.5rem;
    text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 .6rem #e44646;
    margin-bottom: 0;
  }

  .contentAboutme h2,
  .contentPortfolio h2,
  .contentSkills h2,
  .contentContact h2 {
    font-size: 2rem;
  }

  .containerSocial img {
    width: 3rem;
  }

  .containerSocial p {
    margin-top: .5rem;
    font-size: 1rem;
  }

  .containerProfilePicture {
    width: 96%;
    padding: .5rem;
    position: relative;
    bottom: -50.5rem;
  }

  .contentAboutme p {
    width: 100%;
    position: relative;
    left: .06rem;
    top: -32rem;
    font-size: 1.2rem;
  }

  .containerHobbies {
    position: relative;
    left: .4rem;
    top: -34rem;
    padding: .5rem;
    margin: 1rem auto;
    width: 96%;
    display: inline-block;
  }

  .hobbies {
    margin: 1rem;
    width: 4rem;
  }

  .containerHobbies label {
    width: 7rem;
    font-size: 1.1rem;
  }

  .skills {
    width: 3rem;
    margin: 0.3rem;
  }

  .containerCardsTecSkills,
  .containerCardsSoftSkills {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: justify;
  }

  .cardTecSkills,
  .cardSoftSkills {
    width: 100%;
    margin: .1rem;
    display: inline-block;
  }

  .list-group-flush .list-group-item {
    padding: .2rem;
    height: 3.8rem;
  }

  .formContact {
    width: 21rem;
    margin: .5rem auto;
  }

  .btnSubmit {
    display: block;
    margin: 0 auto;
  }

  a {
    font-size: 1rem;
  }

}

/* Small devices (portrait tablets and large phones, 425px and up) */
@media only screen and (max-width: 425px) and (min-width: 376px) {

  .App {
    margin-top: 7rem;
  }

  .mainContainer,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    width: auto;
    height: auto;
  }

  .mainContainer,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    height: auto;
  }

  .navbar-toggler {
    position: relative;
    right: 1.2rem;
    padding: .25rem .40rem;
  }

  .navbar-brand {
    width: 70%;
    margin: 0;
  }

  .App-logo-image {
    width: 100%;
    height: 5rem;
  }

  .navMenuLink {
    width: 100%;
    height: 2.5rem;
    margin: .2rem;
  }

  .navMenuLink h6 {
    margin: .4rem auto;
  }

  .contentHome h2 {
    font-size: 3rem;
    text-shadow: 0 0 0.1rem #fff, 0 0 1rem #fff, 0 0 1rem #e1e446;
    -webkit-text-stroke-color: rgb(247, 230, 4);
  }

  .contentHome p {
    font-size: 2.5rem;
    text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 .6rem #e44646;
    margin-bottom: 0;
  }

  .contentAboutme h2,
  .contentPortfolio h2,
  .contentSkills h2,
  .contentContact h2 {
    font-size: 2.5rem;
  }

  .containerSocial img {
    width: 3rem;
  }

  .containerSocial p {
    margin-top: .5rem;
    font-size: 1rem;
  }

  .containerProfilePicture {
    width: 96%;
    padding: .5rem;
    position: relative;
    bottom: -46rem;
  }

  .contentAboutme p {
    width: 100%;
    position: relative;
    left: .06rem;
    top: -36rem;
    font-size: 1.2rem;
  }

  .containerHobbies {
    position: relative;
    left: 1rem;
    top: -38rem;
    padding: .5rem;
    margin: 1rem auto;
    width: 92%;
    display: inline-block;
  }

  .hobbies {
    margin: 1rem;
    width: 4rem;
  }

  .containerHobbies label {
    width: 7rem;
    font-size: 1.1rem;
  }

  .skills {
    width: 3rem;
    margin: 0.3rem;
  }

  .containerCardsTecSkills,
  .containerCardsSoftSkills {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: justify;
  }

  .cardTecSkills,
  .cardSoftSkills {
    width: 100%;
    margin: .1rem;
    display: inline-block;
  }

  .list-group-flush .list-group-item {
    padding: .2rem;
    height: 3.8rem;
  }

  .formContact {
    width: 23rem;
    margin: .5rem auto;
  }

  .btnSubmit {
    display: block;
    margin: 0 auto;
  }

  a {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 426px) {

  .contentHome h2 {
    text-shadow: 0 0 1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #e1e446;
  }

  .contentHome p {
    text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 0.6rem #e44646;
    margin: 0;
  }

  .navMenuLink {
    width: 100%;
    height: 2.5rem;
    margin: .1rem;
  }

  .containerProfilePicture {
    width: 51%;
    margin: auto .3rem;
  }

  .contentAboutme p {
    position: relative;
    right: .4rem;
    width: 47%;
    padding: .4rem;
    font-size: 1.2rem;
  }

  .containerHobbies {
    position: relative;
    left: -.01rem;
    width: 47%;
    display: inline-block;
  }

  .hobbies {
    margin: .5rem;
    width: 2.8rem;
  }

  .containerHobbies label {
    font-size: 1.1rem;
  }

  .skills {
    width: 3rem;
    margin: .5rem 1rem;
  }

  .containerCardsTecSkills,
  .containerCardsSoftSkills {
    width: 94.4%;
    display: inline-block;
    margin: auto 1.3rem;
    text-align: center;
  }

  .cardTecSkills,
  .cardSoftSkills {
    width: 13rem;
    display: inline-block;
  }

  .list-group-item {
    padding: .2rem;
    height: 3.5rem;
  }

  .formContact {
    width: 25rem;
    margin: .5rem auto;
  }

  .btnSubmit {
    margin: auto .5rem;
  }

}

/* Large devices (laptops/desktops, 1440px and up) */
@media only screen and (max-width: 1023px) and (min-width: 769px) {

  /* HOBBIES */
  .containerHobbies {
    width: 50%;
    margin-bottom: 16rem;
  }

  .containerCardsTecSkills,
  .containerCardsSoftSkills {
    width: 95.2%;
    display: inline-block;
    margin: auto 1.5rem;

    border: solid .2rem red;
  }

  .cardTecSkills,
  .cardSoftSkills {
    display: inline-block;
    padding: .2rem;
    margin: .3rem;
    width: 11rem;

    border: solid .1rem;
  }

  .list-group-item {
    width: 100%;
    height: 5.5rem;
    text-align: center;
  }

  .skills {
    width: 3rem;
    margin: 1rem 1rem;
  }

}

/* Large devices (screen 2560px and up) */
@media only screen and (min-width: 1440px) {
  .App {
    margin-top: 11rem;
  }

  .contentAboutme h2,
  .contentPortfolio h2,
  .contentSkills h2,
  .contentContact h2 {
    font-size: 4.5rem;
  }

  .contentAboutme p {
    font-size: 1.7rem;
  }

  .containerHobbies {
    width: 55%;
    right: -3rem;
    margin-bottom: 7rem;
  }

  .hobbies {
    width: 5rem;
  }

  .containerHobbies label {
    font-size: 1.8rem;
  }

  .App-logo-image {
    width: 100%;
    height: 9rem;
  }

  .navMenuLink {
    width: 11.5rem;
    height: 5rem;
  }

  .navMenuLink h6 {
    font-size: 1.5rem;
  }

  .containerSocial p {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .containerSocial label {
    font-size: 1.5rem;
    margin: 1rem;
    margin-bottom: .5rem;
  }

  .containerSocial img {
    margin: 0 1rem;
    width: 5rem;
  }

  .skills {
    width: 3rem;
    margin: .5rem 1rem;
  }

  .containerCardsTecSkills,
  .containerCardsSoftSkills {
    width: 95%;
    display: inline-block;
    margin: auto 1.3rem;
    text-align: center;
  }

  .cardTecSkills,
  .cardSoftSkills {
    width: 15rem;
    display: inline-block;
    margin: .7rem;
  }

  .list-group-item {
    padding: .2rem;
    height: 3.5rem;
  }
}

/* Large devices (screen 2560px and up) */
@media only screen and (min-width: 2560px) {
  .App {
    margin-top: 13rem;
  }

  .contentAboutme h2,
  .contentPortfolio h2,
  .contentSkills h2,
  .contentContact h2 {
    font-size: 7rem;
  }

  .contentAboutme p {
    font-size: 4rem;
  }

  .containerHobbies {
    right: -7rem;
  }

  .hobbies {
    width: 9rem;
  }

  .containerHobbies label {
    font-size: 3.5rem;
  }

  .App-logo-image {
    width: 60rem;
    height: 10rem;
  }

  .navMenuLink {
    width: 17rem;
    height: 5rem;
  }

  .navMenuLink h6 {
    font-size: 1.5rem;
  }

  .containerSocial p {
    margin-top: 1rem;
    font-size: 3rem;
  }

  .containerSocial label {
    font-size: 2.5rem;
    margin: 1rem;
    margin-bottom: .5rem;
  }

  .containerSocial img {
    margin: 0 1rem;
    width: 8rem;
  }

  .skills {
    width: 3.5rem;
    margin: .5rem 1rem;
  }

  .containerCardsTecSkills,
  .containerCardsSoftSkills {
    width: 95%;
    display: inline-block;
    margin: auto 4rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .cardTecSkills,
  .cardSoftSkills {
    width: 25rem;
    display: inline-block;
    margin: .7rem;
  }

  .list-group-item {
    font-size: 1.5rem;
    padding: .2rem;
    height: 3rem;
  }

  .formContact {
    width: 30rem;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 900px and up) */
/* @media only screen and (max-width: 900px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1024px) {} */

/* @media (max-width: 900px) {

} */