/* RESET DE MARGENES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PRINCIPALES CONTENEDORES */
.App {
  width: 100%;
  height: auto;
  background-color: rgb(22, 20, 20);
  border: solid .2rem lawngreen;
}

.mainContainer {
  width: 98%;
  height: 44rem;
  margin: 9.5rem auto .1rem;
  box-sizing: border-box;
  border: solid 0.2rem white;
}

.contentHome,
.contentAboutme,
.contentPortfolio,
.contentSkills,
.contentContact {
  max-width: 100%;
  height: 42rem;
  margin: .7rem .5rem;
  box-sizing: border-box;
}

/* TIPOGRAFIA */
.contentHome,
.contentAboutme,
.contentPortfolio,
.contentSkills,
.contentContact,
.navMenu,
.containerSocial {
  font-family: "BeonRegular";
}

/* BARRA DE NAVEGACION */
nav {
  background-color: rgb(37, 37, 35);
  position: fixed;
  width: 100%;
  height: auto;
  /* padding: 1rem; */
  text-align: center;
  display: flex;
  border-bottom: 0.2rem solid rgb(255, 199, 1);
  justify-content: space-between;

  border: solid .2rem green;
}

.navMenu {
  /* list-style: none; */
  display: flex;
  justify-content: center;

  border: solid .2rem palevioletred;
}

/* .navMenu li {
  display: inline-block;
  list-style: none;
  overflow: hidden;
} */

.navMenuLink {
  width: 9.5rem;
  height: 3rem;
  display: inline-block;
  margin: .5rem;
  border: 0.08rem solid white;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(12, 12, 12);
  color: white;
  transition: all 0.4s ease-in-out;
}

.navMenuLink:hover {
  text-decoration: none;
  border: 0.08rem solid rgba(248, 5, 5, 0.822);
  cursor: pointer;
}

.navMenuLink.active {
  font-size: 1rem;
  border: 0.2rem solid rgb(232, 248, 5);
  text-shadow: 0 0 1rem #fff, 0 0 5rem #fff, 0 0 5rem #fff, 0 0 10rem #e1e446,
    0 0 10rem #e1e446;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 230, 4);
  -webkit-text-stroke-width: 0.1rem;
}

/* LOGO DE LA NAV */
.App-logo-image {
  position: relative;
  left: .3rem;
  /* top: -1.5rem; */
  width: 100%;
  height: 7rem;

  border: solid .2rem red;
}

/* BOTON HAMBURGUESA PARA MENU */
.btnMenuIco {
  background-color: rgba(144, 143, 139, 0.268);
  border: none;
  margin: 0 .3rem;
  /* display: none; */
}


.contentHome {
  border: solid 0.2rem rgb(214, 12, 12);
}

.contentAboutme {
  border: solid 0.2rem rgb(234, 250, 4);
}

.contentPortfolio {
  border: solid 0.2rem rgb(238, 3, 199);
}

.contentSkills {
  border: solid 0.2rem rgb(6, 245, 66);
}

.contentContact {
  border: solid 0.2rem rgb(248, 7, 128);
}

.contentAboutme h2,
.contentPortfolio h2,
.contentSkills h2,
.contentContact h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.contentPortfolio p,
.contentSkills p,
.contentContact p {
  text-align: justify;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.contentAboutme p {
  width: 62%;
  text-align: justify;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
  float: right;
}

.contentHome h2,
p {
  font-weight: normal;
  text-align: center;
  font-style: normal;
}

.contentHome h2 {
  font-size: 5.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e1e446;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 230, 4);
  -webkit-text-stroke-width: 0.1rem;
}

.contentHome p {
  font-size: 3.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e44646;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 4, 4);
  -webkit-text-stroke-width: 0.1rem;
}

/* FOTO DE PERFIL */
.containerProfilePicture {
  width: 35%;
  height: auto;
  margin-left: .5rem;
  position: inherit;
  float: left;
  padding: .5rem;

  border: solid .2rem chartreuse;
}

.profilePicture {
  width: 100%;
  height: 33rem;
}

/* HOBBIES */
.containerHobbies {
  width: 63%;
  height: auto;
  position: relative;
  right: -1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;

  border: solid .1rem mediumturquoise;
}

.containerHobbies label {
  font-size: 1.2rem;
  display: flex;
  margin: .5rem;
  margin-bottom: .3rem;
  -webkit-text-fill-color: #f4ecff;
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e1e446;
}

.hobbies {
  width: 4.5rem;
  height: auto;
}

/* REDES SOCIALES */
.containerSocial {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  /* position: relative;
  left: 14.5rem;
  bottom: .5rem; */

  border: solid .2rem blue;
}

.containerSocial p {
  width: 100%;
  margin-top: 2rem;
  margin-right: 2rem;
  /* float: left; */
  font-size: 1.3rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;

  border: solid greenyellow .1rem;
}

.containerSocial label {
  display: flex;
  margin: .5rem;
  margin-bottom: .3rem;
}

.containerSocial a {
  font-size: 1rem;
  margin: 0 .5rem;
  -webkit-text-fill-color: #f4ecff;
  text-shadow: 0 0 1rem #fff, 0 0 3rem #fff, 0 0 6rem #e1e446;
  justify-content: flex-end;
}

.containerSocial img {
  margin: 0 .5rem;
}


/* MEDIA QUERIES */
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .mainContainer {
    width: 95%;
    height: auto;
    margin-top: 7rem;
  }

  .contentHome,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    max-width: 100%;
    height: auto;
  }

  nav {
    display: inline-block;
    padding: .5rem;
  }

  .navMenu {
    /* display: block; */
    flex-direction: column;
  }

  .navMenuLink {
    margin: .3rem 0;
    width: 100%;
    height: auto;
  }

  .navMenuLink.active {
    font-size: .7rem;
  }

  .App-logo-image {
    width: 77%;
    height: 5rem;
    position: relative;
    left: 5.4rem;
    top: -.1rem;
    float: left;
  }

  .navbar-brand {
    display: block;
  }

  .btnMenuIco {
    position: relative;
    top: .3rem;
    left: -13em;
    padding: .4rem;
  }

  .containerProfilePicture {
    width: 95%;
    height: auto;
    margin: 0 .5rem;
    position: inherit;
    /* padding: .5rem; */

  }

  .profilePicture {
    display: block;
    width: 100%;
    margin: 0 .5rem;
    /* width: 100%; */
    /* height: auto; */
  }

  .contentAboutme h2,
  .contentPortfolio h2,
  .contentSkills h2,
  .contentContact h2 {
    font-size: 2rem;
  }

  .contentPortfolio p,
  .contentSkills p,
  .contentContact p {
    display: block;
    padding: .4rem;
    font-size: 1rem;
  }

  .contentAboutme p {
    width: 100%;
    display: block;
    padding: .4rem;
    font-size: 1.2rem;
  }

  .contentHome h2 {
    font-size: 2.5rem;
  }

  .contentHome p {
    font-size: 1.8rem;
  }

  .containerSocial {
    width: 100%;
    height: auto;
    display: inline-block;
    position: inherit;

    border: solid .2rem blue;
  }

  .containerSocial p {
    width: 95%;
    margin-top: .4rem;
    margin: auto;
    display: block;
    font-size: 1.2rem;
  }

  .containerSocial label {
    display: inline-block;
  }

  .containerSocial a {
    font-size: 1.1rem;
    display: inline-block;
  }

  .containerHobbies {
    width: 60%;
    position: inherit;
    margin: 0 4rem;
    margin-bottom: 2rem;
    display: inline-block;

    border: solid .3rem mediumturquoise;
  }

  .containerHobbies label {
    text-align: center;
  }

  .hobbies {
    margin: 0 2.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (max-width: 900px) {
  .mainContainer {
    width: 95%;
  }

  .contentHome,
  .contentAboutme,
  .contentPortfolio,
  .contentSkills,
  .contentContact {
    max-width: 100%;
  }

  nav {
    width: 100%;
    height: auto;
  }

  .navMenu {
    width: 100%;
  }

  .navMenuLink {
    width: 98%;
    height: 2rem;
    margin: 0 .2rem;
  }

  .navMenuLink.active {
    font-size: .9rem;
  }

  .App-logo-image {
    width: 77%;
    height: 4.5rem;
    float: left;
  }

  .navbar-brand {
    display: block;
  }

  .btnMenuIco {
    position: relative;
    top: -.1rem;
    right: 19rem;
    padding: .4rem;
  }

  .profilePicture {
    width: 93%;
    height: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* @media (max-width: 900px) {

} */