/* .App {
  
} */

.App-logo {
  width: 45%;
  height: 7rem;
  position: relative;
  left: -2rem;
  top: -1.2rem;

  border: solid .2rem red;
}

nav {
  background-color: rgba(144, 143, 139, 0.267);
  max-width: 100%;
  height: 7rem;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem solid rgb(255, 199, 1);
  padding: 1rem 2rem;

  border: solid .2rem green;
}

.navMenu li {
  display: inline-block;
  list-style: none;
}

.navMenuLink {
  display: inline-block;
  margin: 1rem;
  border: 0.2rem solid rgba(2, 76, 248, 0.719);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: rgb(12, 12, 12);
  color: white;
  transition: all 0.3s ease-in-out;
}

.navMenuLink:hover {
  border: 0.1rem solid rgba(248, 5, 5, 0.822);
  background-color: rgb(7, 7, 7);
  cursor: pointer;
}

.mainContainer {
  max-width: 100%;
  margin: 1rem 2rem;
  border: solid 0.2rem white;
}

.contentHome,
.contentAboutme,
.contentPortfolio,
.contentSkills,
.contentContact {
  max-width: 100%;
  height: 40rem;
  margin: 1rem 2rem;
}

.contentHome {
  border: solid 0.2rem rgb(214, 12, 12);
}

.contentAboutme {
  border: solid 0.2rem rgb(234, 250, 4);
}

.contentPortfolio {
  border: solid 0.2rem rgb(238, 3, 199);
}

.contentSkills {
  border: solid 0.2rem rgb(6, 245, 66);
}

.contentContact {
  border: solid 0.2rem rgb(248, 7, 128);
}

.contentHome,
.contentAboutme,
.contentPortfolio,
.contentSkills,
.contentContact {
  font-family: "BeonRegular";
}

.contentAboutme h2,
.contentPortfolio h2,
.contentSkills h2,
.contentContact h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.contentPortfolio p,
.contentSkills p,
.contentContact p {
  text-align: justify;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
}

.contentAboutme p {
  width: 62%;
  text-align: justify;
  padding: .8rem;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-text-fill-color: #f4ecff;
  float: right;
}

.contentHome h2, p {
  font-weight: normal;
  text-align: center;
  font-style: normal;
}
.contentHome h2 {
  font-size: 5.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y 
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 5rem #fff, 0 0 5rem #fff, 0 0 10rem 
  #e1e446,
    0 0 10rem #e1e446;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 230, 4);
  -webkit-text-stroke-width: 0.1rem;
}
.contentHome p {
  font-size: 3.5rem;
  /* utilizamos text-shadow (para dar resplandor al texto),
  text-fill-color (para colorear el interior del texto),
  text-stroke-color (para el color del borde exterior), y 
  text-stroke-width (para el ancho del borde). */
  text-shadow: 0 0 1rem #fff, 0 0 5rem #fff, 0 0 5rem #fff, 0 0 10rem 
  #e44646,
    0 0 10rem #e44646;
  -webkit-text-fill-color: #f4ecff;
  -webkit-text-stroke-color: rgb(247, 4, 4);
  -webkit-text-stroke-width: 0.1rem;
}

.profilePicture {
  width: 35%;
  height: 30rem;
  position: relative;
  left: 1rem;
  float: left;
}
