/* body { */
  /* background-image: url(https://res.cloudinary.com/lexyfeer/image/upload/v1559950119/fondo.jpg); */
  /* background-color: rgb(22, 20, 20); */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

/* code { */
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
    /* monospace; */
/* } */
